In [2]:
import pandas as pd
import numpy as np
churn=pd.read_csv('Churn_Modelling.csv')
churn.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
churn['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [5]:
churng=churn[churn['Geography']=='Germany']
churng

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
32,33,15750181,Sanderson,553,Germany,Male,41,9,110112.54,2,0,0,81898.81,0
39,40,15585768,Cameron,582,Germany,Male,41,6,70349.48,2,0,1,178074.04,0
45,46,15754849,Tyler,776,Germany,Female,32,4,109421.13,2,1,1,126517.46,0
46,47,15602280,Martin,829,Germany,Female,27,9,112045.67,1,1,1,119708.21,1
47,48,15771573,Okagbue,637,Germany,Female,39,9,137843.80,1,1,1,117622.80,1
48,49,15766205,Yin,550,Germany,Male,38,2,103391.38,1,0,1,90878.13,0
49,50,15771873,Buccho,776,Germany,Female,37,2,103769.22,2,1,0,194099.12,0
50,51,15616550,Chidiebele,698,Germany,Male,44,10,116363.37,2,1,0,198059.16,0
51,52,15768193,Trevisani,585,Germany,Male,36,5,146050.97,2,0,0,86424.57,0
53,54,15702298,Parkhill,655,Germany,Male,41,8,125561.97,1,0,0,164040.94,1
54,55,15569590,Yoo,601,Germany,Male,42,1,98495.72,1,1,0,40014.76,1
57,58,15647091,Endrizzi,725,Germany,Male,19,0,75888.20,1,0,0,45613.75,0
60,61,15651280,Hunter,742,Germany,Male,35,5,136857.00,1,0,0,84509.57,0
61,62,15773469,Clark,687,Germany,Female,27,9,152328.88,2,0,0,126494.82,0
64,65,15592461,Jackson,603,Germany,Male,26,4,109166.37,1,1,1,92840.67,0
65,66,15789484,Hammond,751,Germany,Female,36,6,169831.46,2,1,1,27758.36,0
66,67,15696061,Brownless,581,Germany,Female,34,1,101633.04,1,1,0,110431.51,0
67,68,15641582,Chibugo,735,Germany,Male,43,10,123180.01,2,1,1,196673.28,0
68,69,15638424,Glauert,661,Germany,Female,35,5,150725.53,2,0,1,113656.85,0
70,71,15703793,Konovalova,738,Germany,Male,58,2,133745.44,4,1,0,28373.86,1
73,74,15779052,Ballard,604,Germany,Female,25,5,157780.84,2,1,1,58426.81,0
79,80,15803136,Postle,416,Germany,Female,41,10,122189.66,2,1,0,98301.61,0
89,90,15767954,Osborne,635,Germany,Female,28,3,81623.67,2,1,1,156791.36,0
97,98,15693683,Yuille,814,Germany,Male,29,8,97086.40,2,1,1,197276.13,0
106,107,15599195,Stiger,582,Germany,Male,32,1,88938.62,1,1,1,10054.53,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9879,9880,15669414,Pisano,486,Germany,Male,62,9,118356.89,2,1,0,168034.83,1
9880,9881,15777054,Thorpe,584,Germany,Male,42,3,137479.13,1,1,0,25669.10,0
9895,9896,15796764,Bruno,684,Germany,Female,56,3,127585.98,3,1,1,80593.49,1
9900,9901,15645896,Duncan,646,Germany,Male,39,6,121681.91,2,0,1,61793.47,0
9901,9902,15802909,Hu,706,Germany,Female,56,3,139603.22,1,1,1,86383.61,0
9905,9906,15784124,Emenike,645,Germany,Male,41,2,93925.30,1,1,0,123982.14,1
9908,9909,15721469,Mach,492,Germany,Male,45,9,170295.04,2,0,0,164741.81,0
9917,9918,15755731,Davis,635,Germany,Male,53,8,117005.55,1,0,1,123646.57,1
9921,9922,15643575,Evseev,757,Germany,Male,36,1,65349.71,1,0,0,64539.64,0
9924,9925,15578865,Palerma,632,Germany,Female,50,5,107959.39,1,1,1,6985.34,1
9929,9930,15696388,Artamonova,755,Germany,Male,38,4,111096.91,1,1,1,19762.88,0
9930,9931,15713604,Rossi,425,Germany,Male,40,9,166776.60,2,0,1,172646.88,0
9934,9935,15774586,West,692,Germany,Female,43,10,118588.83,1,1,1,161241.65,1
9935,9936,15603454,Sanders,735,Germany,Male,28,5,160454.15,2,0,1,114957.22,0
9942,9943,15683007,Torode,739,Germany,Female,25,5,113113.12,1,1,0,129181.27,0
9944,9945,15703923,Cameron,744,Germany,Male,41,7,190409.34,2,1,1,138361.48,0
9948,9949,15735078,Onwughara,724,Germany,Female,53,1,139687.66,2,1,1,12913.92,0
9950,9951,15638494,Salinas,625,Germany,Female,39,10,129845.26,1,1,1,96444.88,0
9952,9953,15696355,Cleveland,724,Germany,Male,37,6,125489.40,1,1,0,118570.53,0
9960,9961,15681026,Lucciano,795,Germany,Female,33,9,104552.72,1,1,1,120853.83,1
9963,9964,15814664,Scott,740,Germany,Male,33,2,126524.11,1,1,0,136869.31,0
9965,9966,15690164,Shao,627,Germany,Female,33,4,83199.05,1,0,0,159334.93,0
9968,9969,15733491,McGregor,512,Germany,Female,40,8,153537.57,2,0,0,23101.13,0
9975,9976,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1
9981,9982,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1
9982,9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1
9984,9985,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,0
9986,9987,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1

In [6]:
churng['Exited'].value_counts()

0    1695
1     814
Name: Exited, dtype: int64

In [3]:
france=print('France Percent exited: {:.2%}'.format(810/(4204+810)))

France Percent exited: 16.15%

In [4]:
spain=print('Spain Percent exited: {:.2%}'.format(413/(2064+413)))

Spain Percent exited: 16.67%

In [5]:
germany=print('Germany Percent exited: {:.2%}'.format(814/(1695+814)))

Germany Percent exited: 32.44%

In [10]:
xg, yg=churn.iloc[:,3:-1],churn.iloc[:,-1]
x_dummies=pd.get_dummies(xg)
x_dummies.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0,1.0,0.0
1,608,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0,1.0,0.0
2,502,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0,1.0,0.0
3,699,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0,1.0,0.0
4,850,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0,1.0,0.0

In [11]:
yg

0       1
1       0
2       1
3       0
4       0
5       1
6       0
7       1
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      1
17      0
18      0
19      0
20      0
21      0
22      1
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
9970    0
9971    0
9972    0
9973    0
9974    0
9975    1
9976    0
9977    0
9978    0
9979    0
9980    0
9981    1
9982    1
9983    0
9984    0
9985    0
9986    0
9987    0
9988    0
9989    0
9990    0
9991    1
9992    0
9993    0
9994    0
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, dtype: int64

In [12]:
from sklearn.model_selection import validation_curve
from sklearn.neighbors import KNeighborsClassifier

In [13]:
knn_churn=KNeighborsClassifier(n_neighbors=3)
knn_churn.fit(x_dummies,yg)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [14]:
knn_churn.score(x_dummies,yg)

0.8404

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x_dummies,yg,random_state=0)

In [17]:
x_train.shape

(7500, 13)

In [18]:
knn_churn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [19]:
print('knn acc on train: {:.2%}'.format(knn_churn.score(x_train,y_train)))
print('knn acc on test: {:.2%}'.format(knn_churn.score(x_test,y_test)))

knn acc on train: 84.33%
knn acc on test: 73.16%

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
log_reg=LogisticRegression()
log_reg.fit(x_train, y_train)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [22]:
print('Logistic Regression acc on train: {:.3f}'.format(log_reg.score(x_train,y_train)))
print('Logistic Regression acc on test: {:.3f}'.format(log_reg.score(x_test,y_test)))

Logistic Regression acc on train: 0.790
Logistic Regression acc on test: 0.787

In [23]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest

In [24]:
best_x=SelectKBest(score_func=chi2,k=5)
best_fit=best_x.fit(x_dummies,yg)

In [25]:
dfscores=pd.DataFrame(best_fit.scores_)
dfcolumns=pd.DataFrame(x_dummies.columns)

In [26]:
best_features=pd.concat([dfcolumns,dfscores],axis=1)
best_features.columns=['Feature','Score']
best_features

              Feature         Score
0         CreditScore  1.054035e+02
1                 Age  2.300417e+03
2              Tenure  3.270538e+00
3             Balance  7.151303e+06
4       NumOfProducts  5.055394e+00
5           HasCrCard  1.500410e-01
6      IsActiveMember  1.181994e+02
7     EstimatedSalary  4.835088e+04
8    Geography_France  5.492371e+01
9   Geography_Germany  2.254644e+02
10    Geography_Spain  2.086721e+01
11      Gender_Female  6.190917e+01
12        Gender_Male  5.153993e+01

In [27]:
print(best_features.nlargest(10,'Score'))

              Feature         Score
3             Balance  7.151303e+06
7     EstimatedSalary  4.835088e+04
1                 Age  2.300417e+03
9   Geography_Germany  2.254644e+02
6      IsActiveMember  1.181994e+02
0         CreditScore  1.054035e+02
11      Gender_Female  6.190917e+01
8    Geography_France  5.492371e+01
12        Gender_Male  5.153993e+01
10    Geography_Spain  2.086721e+01

In [28]:
from sklearn.ensemble import ExtraTreesClassifier
import matplotlib.pyplot as plt

In [29]:
et=ExtraTreesClassifier()
et.fit(x_dummies,yg)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
           max_depth=None, max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [ ]:
print(et.feature_importances_)

In [ ]:
ft_importance = pd.Series(et.feature_importances_,index=x_dummies.columns)
ft_importance.nlargest(10).plot(kind='barh')
plt.show()

In [ ]:
x_new=x_dummies[['Age','NumOfProducts','CreditScore','EstimatedSalary','Balance','Tenure']]
x_new.head()

In [ ]:
knn_churn1=KNeighborsClassifier(n_neighbors=3)
x_train1,x_test1,y_train1,y_test1=train_test_split(x_new,yg,random_state=0)
knn_churn1.fit(x_new,yg)

In [ ]:
print('knn acc on train: {:.2%}'.format(knn_churn1.score(x_train1,y_train1)))
print('knn acc on test: {:.2%}'.format(knn_churn1.score(x_test1,y_test1)))

In [ ]:
n_neighbors=[3,5,7,9,11]
train_score,test_score=validation_curve(KNeighborsClassifier(),x_new,yg,param_name='n_neighbors',param_range=n_neighbors,cv=4)
print('average cross validation scores on train set', train_score.mean(axis=1))
print('average cross validation scores on test set', test_score.mean(axis=1))

In [37]:
log_reg1=LogisticRegression()
log_reg1.fit(x_train1, y_train1)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [38]:
print('Logistic Regression acc on train: {:.3f}'.format(log_reg1.score(x_train1,y_train1)))
print('Logistic Regression acc on test: {:.3f}'.format(log_reg1.score(x_test1,y_test1)))

Logistic Regression acc on train: 0.791
Logistic Regression acc on test: 0.788

In [39]:
from sklearn.model_selection import validation_curve

In [58]:
c_range=[.1,.5,1,5,10,100,200]
train_score,test_score=validation_curve(LogisticRegression(),x_new,yg,param_name='C',param_range=c_range,cv=4)

In [59]:
print('average cross validation scores on train set', train_score.mean(axis=1))
print('average cross validation scores on test set', test_score.mean(axis=1))

average cross validation scores on train set [0.79006667 0.79006667 0.79006667 0.79006667 0.79006667 0.79006667
 0.79006667]
average cross validation scores on test set [0.7906 0.7906 0.7906 0.7906 0.7906 0.7906 0.7906]

In [42]:
from sklearn.svm import LinearSVC
from sklearn.preprocessing import MinMaxScaler

In [43]:
scaler=MinMaxScaler()
x_trans=scaler.fit_transform(x_new)
x_new

      Age  NumOfProducts  CreditScore  EstimatedSalary    Balance  Tenure
0      42              1          619        101348.88       0.00       2
1      41              1          608        112542.58   83807.86       1
2      42              3          502        113931.57  159660.80       8
3      39              2          699         93826.63       0.00       1
4      43              1          850         79084.10  125510.82       2
...   ...            ...          ...              ...        ...     ...
9995   39              2          771         96270.64       0.00       5
9996   35              1          516        101699.77   57369.61      10
9997   36              1          709         42085.58       0.00       7
9998   42              2          772         92888.52   75075.31       3
9999   28              1          792         38190.78  130142.79       4

[10000 rows x 6 columns]

In [44]:
x_train2,x_test2,y_train2,y_test2=train_test_split(x_trans,yg,random_state=0)

In [45]:
svm=LinearSVC(C=0.1,random_state=0)
svm.fit(x_train2,y_train2)

LinearSVC(C=0.1, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=0, tol=0.0001,
          verbose=0)

In [46]:
print('svm acc on train: {:.2%}'.format(svm.score(x_train2,y_train2)))
print('svm acc on test: {:.2%}'.format(svm.score(x_test2,y_test2)))

svm acc on train: 78.33%
svm acc on test: 77.96%

In [47]:
svm1=LinearSVC(C=10,random_state=0,max_iter=10000)
svm1.fit(x_train2,y_train2)

LinearSVC(C=10, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=10000,
          multi_class='ovr', penalty='l2', random_state=0, tol=0.0001,
          verbose=0)

In [48]:
print('svm1 acc on train: {:.2%}'.format(svm1.score(x_train2,y_train2)))
print('svm1 acc on test: {:.2%}'.format(svm1.score(x_test2,y_test2)))

svm1 acc on train: 78.25%
svm1 acc on test: 77.76%

In [49]:
train_score1,test_score1=validation_curve(LinearSVC(random_state=0,max_iter=50000),x_trans,yg,param_name='C',param_range=c_range,cv=4)

In [50]:
print('average cross validation scores on train set',train_score1.mean(axis=1))
print('average cross validation scores on test set', test_score1.mean(axis=1))

average cross validation scores on train set [0.78246667 0.78103333 0.78083333 0.78073333 0.78073333 0.78066667
 0.78066667]
average cross validation scores on test set [0.7828 0.7811 0.7807 0.7806 0.7806 0.7806 0.7806]

In [51]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier(random_state=0,max_depth=3)
dt.fit(x_train1,y_train1)
print('Decision tree acc on train: {:.2%}'.format(dt.score(x_train1,y_train1)))
print('Decision tree acc on test: {:.2%}'.format(dt.score(x_test1,y_test1)))

Decision tree acc on train: 82.51%
Decision tree acc on test: 82.20%

In [52]:
from sklearn.tree import export_graphviz
export_graphviz(dt,out_file='tree_visproject.dot',feature_names=x_new.columns,impurity=True,filled=True)

In [53]:
max_depth=[5,10,15]
train_score,test_score=validation_curve(DecisionTreeClassifier(),x_new,yg,param_name='max_depth',param_range=max_depth,cv=4)
print('average cross validation scores on train set', train_score.mean(axis=1))
print('average cross validation scores on test set', test_score.mean(axis=1))

average cross validation scores on train set [0.84353333 0.87623333 0.94403333]
average cross validation scores on test set [0.8395 0.8206 0.7959]

In [54]:
from sklearn.ensemble import RandomForestClassifier

In [60]:
rf=RandomForestClassifier(n_estimators=500,random_state=10,max_leaf_nodes=20)
rf.fit(x_train1,y_train1)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=20, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [61]:
print('Random Forest acc on train: {:.2%}'.format(rf.score(x_train1,y_train1)))
print('Random Forest acc on test: {:.2%}'.format(rf.score(x_test1,y_test1)))

Random Forest acc on train: 85.47%
Random Forest acc on test: 83.84%

In [67]:
max_leaf_nodes=[10,15,20,30,40]
train_score,test_score=validation_curve(RandomForestClassifier(),x_new,yg,param_name='max_leaf_nodes',param_range=max_leaf_nodes,cv=4)
print('average cross validation scores on train set', train_score.mean(axis=1))
print('average cross validation scores on test set', test_score.mean(axis=1))

average cross validation scores on train set [0.82523333 0.84346667 0.85233333 0.86093333 0.86486667]
average cross validation scores on test set [0.8226 0.8304 0.8395 0.8399 0.8407]